flask>=2.3.0
edge-tts>=6.1.0
requests>=2.31.0
websockets
aiohttp
pystray
pillow
sounddevice
soundfile
numpy
pyttsx3>=2.90
pywin32>=306
regex
eng-to-ipa
num2words
urllib3
certifi
charset-normalizer
idna
PyInstaller